h1 {
    color: blue;
}



.section-bar{
    margin-top: 0;
    height: 8%;
    /*background: linear-gradient(to right, white, black);*/
    background-color: #2a415f;
    text-align: center;
    padding-top: 1%;
    padding-right: 1%;
    
  }

  li.section-bar-style{
    display:inline-block;
    font-size: 180%;
    font-family: "DejaVu Sans Mono", monospace;
    padding-left: 20px;
  }

  a.section-bar-text:link {
    color: rgb(199, 196, 196);
  }

  a.section-bar-text:hover {
    color: white;
    font-weight: bold;
  }

  a.section-bar-text:visited{
    color: rgb(199, 196, 196);
  }
  a.section-bar-text:focus{
    color: rgb(199, 196, 196);
  }
  a.section-bar-text:active{
    color: rgb(199, 196, 196);
  }

  

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .top-container{
    background-color: #758ea0;
    width: 100%;
    height: 42%;
    padding: 0;
    margin: 0;
    text-align: center;
    /* position: relative;*/
    /*padding-top: 500px;*/
  }

  .purpose{
    color: rgb(239, 235, 235);
    font-size: 30px;
    text-align: left;
    margin: 10px 90px;
    font-family: 'Lato', sans-serif;
  }

  .header-title{
    color: white;
    padding-top: 10px;
    font-size: 70px;
    text-align: center;

  }

  .mid-container1{
    background-color: 	#b2a896;
    width: 100%;
    height: 70%;
    padding: 0;
    margin: 0;
    /* position: relative;*/
    /*padding-top: 500px;*/
  }

  a.email-text:link {
    color: rgb(199, 196, 196);
  }

  a.email-text:hover {
    color: white;
    font-weight: bold;
  }

  a.email-text:visited{
    color: rgb(199, 196, 196);
  }
  a.email-text:focus{
    color: rgb(199, 196, 196);
  }
  a.email-text:active{
    color: rgb(199, 196, 196);
  }

  .mid-container2{
    background-color: #94ac78;
    width: 100%;
    height: 63%;
    padding: 0;
    margin: 0;
    /* position: relative;*/
    /*padding-top: 500px;*/
    text-align: center;
    align-content: center;
  }


  .fit-picture{
    padding: 15px 15px 5px;
    /* margin-top: 8px;*/
  }
  .column {
    margin: 10px 15px;
    float: left;
    width: 15%;
    color: white;
    line-height: 1.5;
  }
  .column-filler{
    margin: 10px 15px;
    float: left;
    width: 14%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
    align-content: center;
    margin: 5px 2000px 5px;
  }

  

  .bottom-container{
    background-color: #575A4B;
    width: 100%;
    height: 0%; /*70%*/
    padding: 0;
    margin: 0 auto;
    text-align: center;
    align-content: center;
  }
 

.nav-bar{
  margin-top: 0;
  height: 8%;
  color: white;
  /*background: linear-gradient(to right, white, black);*/
  background-color: #3f5246;
  text-align: center;
  padding-top: 1%;
  padding-right: 1%;
  
}

/*.boxed{
  border: 1px;
  border-color: gr;
  margin: 10px;
}*/

li.nav-bar-style{
  display:inline-block;
  font-size: 180%;
  font-family: "DejaVu Sans Mono", monospace;
  padding-left: 20px;
}

a.nav-bar-text:link {
  color: rgb(199, 196, 196);
}

a.nav-bar-text:hover {
  color: white;
  font-weight: bold;
}

a.nav-bar-text:visited{
  color: rgb(199, 196, 196);
}

a.nav-bar-text:acti ve{
  color: rgb(199, 196, 196);
}

.form{
  margin: 20px  15px;
  font-size: 40px;
}

.name-box{
  height: 55px;
  width: 1000px;
}

.email-box{
  height: 55px;
  width: 1000px;
}

.form-name{
  position: relative;
  top: 70px;
  left: 30px;
}


/***************************************************/



  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  .container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }
  
  .navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar .menu-items {
    display: flex;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: top right;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .logo {
    position: center;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }

  
